<div class="modal-backdrop" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div
      class="image-container"
      [class.zoomed]="isZoomed"
      (mousedown)="onMouseDown($event)"
      (mouseup)="onMouseUp()"
      (mouseleave)="onMouseUp()"
      (mousemove)="onMouseMove($event)"
      (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd()"
      (click)="toggleZoom($event)"
    >
      <img
        [src]="imageUrl"
        alt="Zoomable Image"
        class="zoom-image"
        [ngStyle]="getImageStyle()"
      />
    </div>
    <!-- <img
      [src]="imageUrl"
      class="zoomable-image"
      alt="Zoomed Image"
      [class.zoomed]="isZoomed"
      (mousedown)="onMouseDown($event)"
      (mouseup)="onMouseUp()"
      (mouseleave)="onMouseUp()"
      (mousemove)="onMouseMove($event)"
      (click)="toggleZoom($event)"
    /> -->
    <button class="close-btn" (click)="closeModal()">✕</button>
  </div>
</div>
