.full-width {
  width: 90vw;
  background: rgba(78, 78, 78, 0.96);
  margin: 0;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  text-align: center;
  color: white;
  justify-self: anchor-center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

p {
  height: 30px;
  margin: 0.2rem;
  align-content: center;
}

@media screen and (max-width: 768px) {
  .full-width {
    margin-left: 4rem;
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .full-width {
    margin-left: 0rem;
    width: 90vw;
  }
}
