<main>
  <div class="cert-card">
    <img
      [src]="certification.imageUrl"
      alt="Issuer Logo"
      class="cert-logo"
      (click)="_openModal(certification.imageUrl)"
    />
    <div class="cert-content">
      <h3 class="cert-name">{{ certification.name }}</h3>
      <p class="cert-issuer">
        Issued by: <strong>{{ certification.issuer }}</strong>
      </p>
      <p class="cert-date">
        Issued on: <span>{{ certification.dateIssued }}</span>
      </p>
      <a [href]="certification.link" target="_blank" class="cert-link"
        >View Certificate</a
      >
    </div>
  </div>
</main>
