<div class="card">
  <div
    class="background"
    [style.boxShadow]="
      isHover
        ? 'rgba(0, 0, 0, 0.5) 13px 10px 15px -3px inset, rgba(0, 0, 0, 0.5) -13px -10px 15px -3px inset'
        : ''
    "
  >
    <img
      [src]="
        isHover && project.project_video
          ? project.project_video
          : project.project_image
      "
      (mouseleave)="onMouseLeave()"
      (mouseenter)="onMouseEnter()"
    />
  </div>
  <div class="container">
    <h4 class="title">
      <b>{{ project.name }}</b>
    </h4>
    <p>{{ project.short_description }}</p>
    <app-project-detail-button
      class="detail_btn"
      text="Details"
      (onClick)="toProjectDetail.emit(slug)"
    />
  </div>
</div>
