.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.control_btns {
  width: 100%;
  display: flex;
  justify-content: center;
  .zoom-btns {
    position: absolute;
    z-index: 1000;
    top: 3rem;
    display: flex;
    gap: 3rem;
    button {
      width: 4rem;
      height: 2rem;
    }
  }
  .navigate-btns {
    position: absolute;
    z-index: 1000;
    top: 49%;
    display: flex;
    gap: 50vw;
  }
}

.modal-content {
  // position: relative;
  max-width: 90vw;
  max-height: 90vh;
}

.zoomable-image {
  width: 100%;
  height: auto;
  cursor: zoom-in;
  transition: transform 0.3s ease;
}

.image-container {
  position: relative;
  cursor: zoom-in;
  user-select: none;

  &.zoomed {
    cursor: grab;
  }

  &.zoomed.dragging {
    cursor: grabbing;
  }
}

.zoom-image {
  width: 100%;
  height: 90vh;
  object-fit: contain;
  transform-origin: center;
  transition: transform 0.2s ease-out;
  pointer-events: none;
}

// .zoomable-image:hover {
//   transform: scale(1.5);
//   cursor: zoom-out;
// }

.close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #fff;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 10px;
}
