<main class="main">
  @if(show_modal){
  <app-resume-modal
    [images]="resume_images"
    [index]="current_index"
    (closed)="closeModal()"
  ></app-resume-modal>
  }

  <div class="background">
    <h1>About Me</h1>
    <p>
      Hello, I'm Ahmet Gürdal, a developer passionate about creating practical
      and secure software solutions and a researcher with a passion for solving
      real-world problems through technology. My work spans across
      cybersecurity, blockchain, machine learning, and interactive software
      tools. I enjoy building applications that combine academic insight with
      practical usability.
    </p>
    <div class="social-links">
      <app-social-links />
    </div>
    <div class="download-btn">
      <app-download-button href="/resume/AhmetGurdal.pdf" text="Download" />
    </div>
    <div class="resume">
      @for(image of resume_images; track $index){
      <img [src]="image" (click)="onClick($index)" />
      }
    </div>
  </div>
</main>
