@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.main {
  background: url(../../../../assets/images/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  padding: 0px 10px;
  margin: 0px;
  overflow-x: hidden;
}

.social-links {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.download-btn {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .main {
    padding-left: 6rem;
  }
}

@media screen and (max-width: 450px) {
  .main {
    padding: 0;
  }
}

.background {
  margin: 4rem 1rem 3.5rem 1rem;
  padding: 2rem;
  background: rgb(0, 0, 0, 0.6);
  border-radius: 10px;
  max-width: 60rem;
  justify-self: center;
  color: white;
}

li {
  padding-bottom: 1rem;
}

.resume {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  img {
    width: 90vw;
    max-width: 29rem;
  }
}

button {
  display: flex;
  justify-self: center;
  margin-bottom: 1rem;
  padding: 0.7rem 1.5rem;
  width: 10rem;
  border-radius: 10px;
}

button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
