<main class="main">
  <div class="content">
    <div class="left-side">
      <h1 class="title">Welcome</h1>
    </div>
    <p class="subtitle">
      Discover more about my work, skills, and certifications.
    </p>
    <div class="card-buttons">
      @for (btn of buttons; track $index){
      <a [routerLink]="btn.link" class="nav-card">
        <i class="material-icons">{{ btn.icon }}</i>
        <h2>{{ btn.title }}</h2>
        <p>{{ btn.subtitle }}</p>
      </a>
      }
    </div>
    <div class="social-links">
      <app-social-links />
    </div>
    <!-- <div class="divider" role="separator" aria-label="Divider"></div> -->
  </div>
</main>

<router-outlet />
