@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: "TheFountainOfWishesRegular";
  src: url("../../../../assets/fonts/TheFountainOfWishesRegular.ttf")
    format("tff");
  font-weight: normal;
  font-style: normal;
}

.main {
  background: url(../../../../assets/images/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
.card-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0px;
  width: 70vw;

  .nav-card {
    z-index: 1;
    cursor: pointer;
    background: linear-gradient(145deg, #2b2b3c, #242435);
    border-radius: 20px;
    padding: 2rem 1.5rem 1rem 1.5rem;
    text-decoration: none;
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

    i.material-icons {
      font-size: 40px;
      margin-bottom: 1rem;
      color: #ff9d00;
      transition: transform 0.3s ease;
    }

    h2 {
      margin: 0.5rem 0;
      font-size: 1.4rem;
      transition: transform 0.3s ease, color 0.3s ease;
    }

    p {
      font-size: 0.9rem;
      color: #bbb;
      transition: color 0.3s ease;
    }

    &::before {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transform: rotate(0deg);
      transition: opacity 0.5s ease, transform 1.2s linear;
      pointer-events: none;
      z-index: 0;
    }

    &:hover {
      transform: scale(1.2) rotate(-1deg);
      z-index: 2;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
      background: linear-gradient(145deg, #383854, #2d2d42);
    }

    &:hover i.material-icons {
      transform: scale(1.2);
      color: #ffc107;
    }

    &:hover h2 {
      transform: scale(1.2);
      color: #fff;
    }

    &:hover p {
      color: #ddd;
    }
  }
}

.left-side {
  h1 {
    color: white;
  }
}

:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "TheFountainOfWishesRegular", "Inter", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  /* font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol"; */
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.angular-logo {
  max-width: 9.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.content .title {
  text-align: center;
  margin-top: 1.75rem;
  font-family: "TheFountainOfWishesRegular", "Inter", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.content .subtitle {
  margin: 2rem 0px;
  font-size: 1.2rem;
  color: #ccc;
  text-align: center;
}

.content p {
  margin: 1rem 0px 0.5rem 0px;
}

.divider {
  width: 1px;
  background: var(--red-to-pink-to-purple-vertical-gradient);
  margin-inline: 0.5rem;
}

.pill-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--bright-blue);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
  cursor: pointer;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

.pill-group .pill:nth-child(4n + 1) {
  --pill-accent: var(--bright-blue);
}
.pill-group .pill:nth-child(4n + 2) {
  --pill-accent: var(--french-violet);
}
.pill-group .pill:nth-child(4n + 3) {
  --pill-accent: var(--hot-red);
}

.pill-group svg {
  margin-inline-start: 0.25rem;
}

@media screen and (max-width: 768px) {
  .main {
    height: 100%;
    align-items: baseline;
    padding: 30px 20px 30px 6rem;
    .content {
      margin-top: 4rem;
      flex-direction: column;
      .left-side {
        .title {
          margin-top: 0px;
        }
      }
      .right-side {
        .pill-group {
          align-items: center;
          margin-top: 25%;
        }
      }
    }
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-pink-to-purple-horizontal-gradient);
    margin-block: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .main {
    // background: url(../../../../assets/images/mobile-background.gif);
    // background-size: 100% 100%;
    padding: 20px;
  }
}
