@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

main {
  background: url(../../../../assets/images/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  padding: 0px 10px;
  margin: 0px;
  overflow-x: hidden;
}

.title {
  padding-top: 4rem;
  text-align: center;
  color: white;
}

.project-list {
  margin: 3rem 0.7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  main {
    padding-left: 6rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    padding: 0;
  }
}
